body{
    margin: 0;
padding: 0;
padding-bottom: 30px;
font-family: Century Gothic;
background-size: cover;
}

.toplogo{
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 90px;
    width: auto;
    padding: 10px;
}

.nav{
    position: absolute;
    right: 20px;
    margin: auto;
    justify-content: right;
    display: grid;
}

.bulletlist{
    margin-right: 20px;
    padding: 20px;
    width: 50px;
    height: 40px;
}

.navitems{
    display: grid;
}

.navhome{
    border: 3px solid black;
    background-color: #fff;
    color: black;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    justify-content: center;
    display: flex;
    margin: auto;
    width: 100px;
    margin-right: 20px;
    height: fit-content;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.6s ease;
    margin-bottom: 10px;
}


.navbuynow{
    border: 3px solid black;
    background-color: #fff;
    color: black;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    justify-content: center;
    display: flex;
    margin: auto;
    width: 100px;
    margin-right: 20px;
    height: fit-content;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.6s ease;
    margin-bottom: 10px;
}
.navbuynow:hover{
    border: 3px solid black ;
    background-color: black;
    color: #fff;
}

.navclaim{
    border: 3px solid rgb(11, 111, 224);
    background-color: rgb(11, 111, 224);
    color: #fff;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    justify-content: center;
    display: flex;
    margin: auto;
    width: 100px;
    margin-right: 20px;
    height: fit-content;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.6s ease;
    margin-bottom: 10px;
}
.navhome:hover{
    border: 3px solid black ;
    background-color: black;
    color: #fff;
}

.navlogin{
    border: 3px solid black;
    background-color: #fff;
    color: black;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    justify-content: center;
    display: flex;
    margin: auto;
    width: 100px;
    margin-right: 20px;
    height: fit-content;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.6s ease;
}
.navlogin:hover{
    border: 3px solid black ;
    background-color: black;
    color: #fff;
}


.details{
    margin-top: 50px;
    margin-left: 20px;
}

.heytext{
    font-size: 22px;
    color: rgb(44, 43, 43);
}

.email{
    font-size: 25px;
    color: rgb(11, 111, 224);
}

.balancediv{
    margin-top: 50px;
    margin-left: 20px;
    width: fit-content;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(11, 111, 224);
    border-radius: 8px;
}

.availabletext{
    font-size: 20px;
    color: #fff;
}

.balancetext{
    font-size: 30px;
    color: #fff;
    text-align: center;
}

.withdrawldiv{
    margin: auto;
    margin-top: 10px;
    display: grid;
    justify-content: center;
    height: fit-content;
    width: fit-content;
    border-radius: 10px;
    box-shadow: 8px 6px 10px gray;
    padding: 20px;
}


.bankradio{
    margin-left: 20px;
}

.upi{
    padding: 8px;
    border: 2px solid rgb(75, 73, 73);
    border-radius: 8px;
    width: 300px;
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    box-shadow: 3px 2px 5px gray;
}

.bankdetails{
    margin-top: 20px;
    display: grid;
    display: none;
}

.name{
    padding: 8px;
    border: 2px solid rgb(75, 73, 73);
    border-radius: 8px;
    width: 300px;
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    box-shadow: 3px 2px 5px gray;
}

.ifsc{
    padding: 8px;
    border: 2px solid rgb(75, 73, 73);
    border-radius: 8px;
    width: 300px;
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    box-shadow: 3px 2px 5px gray;
}

.accountno{
    padding: 8px;
    border: 2px solid rgb(75, 73, 73);
    border-radius: 8px;
    width: 300px;
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    box-shadow: 3px 2px 5px gray;
}

.amount{
    padding: 8px;
    border: 2px solid rgb(75, 73, 73);
    border-radius: 8px;
    width: 300px;
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    box-shadow: 3px 2px 5px gray;
}

.amountlabel{
    margin-top: 15px;
}

.withdrawbtn{
    background-color: rgb(11, 111, 224);
    color: #fff;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    margin-top: 15px;
    width: 300px;
    height: fit-content;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    transition: 0.6s ease;
}


.verifydiv{
    margin: auto;
    margin-top: 20px;
    display: grid;
    justify-content: center;
    height: fit-content;
    width: fit-content;
    border-radius: 10px;
    box-shadow: 8px 6px 10px gray;
    padding: 20px;
}

.verifybtns{
    margin-top: 35px;
    display: grid;
}

.refreshbtn{
    background-color: rgb(11, 111, 224);
    color: #fff;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    width: 300px;
    height: fit-content;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    transition: 0.6s ease;
    margin: auto;
    justify-content: center;
    margin-top: 35px;
}

.resend{
    color: rgb(11, 111, 224);
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
    text-decoration: none;
    margin: auto;
    margin-top: 15px;
    width: fit-content;
    height: fit-content;
    border-radius: 8px;
    transition: 0.6s ease;
}

.resend:hover{
    border: 3px solid rgb(11, 111, 224);
}

.senttext{
    font-size: 20px;
}

.verifyemail{
    font-size: 21px;
    color: rgb(11, 111, 224);
}

.pleasetext{
    font-size: 16px;
    width: 350px;
    color: rgb(48, 46, 46);
}

.successdiv{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    width: 100%;
    height: 100%;
    z-index: 9999;
    margin: auto;
    margin-top: 20px;
    display: grid;
    justify-content: center;
    height: fit-content;
    width: fit-content;
    border-radius: 10px;
    box-shadow: 8px 6px 10px gray;
    padding: 20px;
    background: #fff;
}

.successtext{
    font-size: 21px;
    color: rgb(11, 111, 224);
}

.reflecttext{
    font-size: 16px;
    width: 350px;
    color: rgb(48, 46, 46);
}

.gotitbtn{
    background-color: rgb(11, 111, 224);
    color: #fff;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    width: 300px;
    height: fit-content;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    transition: 0.6s ease;
    margin: auto;
    justify-content: center;
    margin-top: 15px;
}

.loading{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: transparent;
    background-blend-mode: darken;
}

.reason1{
    color: #fff;
}
.reason2{
    color: #fff;
}
